head
    title #{name}
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../../css/styles.css")
    script(src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/website.js")
    script(src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/supertokens.js")
    script(src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/session.js")
    script(src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/emailpassword.js")
    script(src='../../scripts/login.js')